defaults: &defaults
  adapter: postgresql
  encoding: unicode
  user: findaboffin
  pool: 5
  timeout: 5000

development:
  database: find_a_boffin_development
  <<: *defaults

test:
  database: find_a_boffin_test
  <<: *defaults

production:
  database: find_a_boffin_production
  <<: *defaults

